# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# ASP.NET Core
appsettings.Development.json

# Node.js / React
node_modules/
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db